# 1. Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

In [1]:
def remove_letters (l,w):
    n=[]
    for i in w:
        n.append(i)
    for item in n:
        if item in l:
            l.remove(item)
    return l

In [2]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

In [3]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

# 2. A block sequence in three dimensions. We can write a formula for this one:

In [4]:
def blocks(l):
    a=5
    b=7
    if(l==1):
        return a
    else:
        for i in range (1,l):
            a=a+b
            b=b+1
        return a

In [5]:
blocks(2)

12

In [6]:
blocks(5)

39

# 3. Create a function that subtracts one positive integer from another, without using any arithmetic operators such as -, %, /, +, etc.

In [7]:
def my_sub(a,b):
    n=[1 for i in range(a)]
    m=[1 for i in range(b)]
    for item in n:
        if item in m:
            m.remove(item)
    return sum(m)

In [8]:
my_sub(5, 9)

4

In [9]:
my_sub(0, 0)

0

# 4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns the sum of dollar bills only, as an integer.

In [10]:
def add_bill(r):
    n=[]
    l =list(r.split(","))
    l=[i for i in l if i[0] == 'd']
    l=[i[1:] for i in l if i[0] == 'd']
    for i in l:
        if "k" in i:
            i = i[:-1]
            i= int(i)*1000
            n.append(i)
        else:
            n.append(int(i))
    return sum(n)

In [11]:
add_bill("d20,p40,p60,d50")

70

In [12]:
add_bill("p30,d2k,p60,d200,p360")

2200

# 5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.

In [13]:
def flip_list(l):
    y = []
    for i in l:
        if type(i)!= list:
            listA = [str(i)]
            for elem in listA:
               t = elem.split(', ')
               y.append((t))
        else:
            y.append(i[0])
    return y

In [14]:
flip_list([1, 2, 3, 4])

[['1'], ['2'], ['3'], ['4']]

In [16]:
flip_list([])

[]