# Python Advance Programming Assignment
## Assignment - 03 [ FSDS NOV 21 ]

### 1.Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").
Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.  
eval() is not allowed. In case of division, whenever the second number equals "0" return -1.   
For example:  `"15 // 0"  ➞ -1`   
**Examples:**  
`arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24`  
`arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0`  
`arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144`  
`arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1`

In [1]:
import operator

ops = {'+':operator.add,'-':operator.sub,'*':operator.mul,'//':operator.floordiv}

def arithmetic_operation(in_string):
    in_list = in_string.split(" ")
    output = ops[in_list[1]](int(in_list[0]),int(in_list[2])) if int(in_list[2]) != 0 else -1
    print(f'arithmetic_operation({in_list[0]} {in_list[1]} {in_list[2]}) ➞ {output}')
    
arithmetic_operation("12 + 12")
arithmetic_operation("12 - 12")
arithmetic_operation("12 * 12")
arithmetic_operation("12 // 0")

arithmetic_operation(12 + 12) ➞ 24
arithmetic_operation(12 - 12) ➞ 0
arithmetic_operation(12 * 12) ➞ 144
arithmetic_operation(12 // 0) ➞ -1

### 2.Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.
**Examples:**  
`perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08`  
`perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42`  
`perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28`

In [1]:
import math

def distance(x1, y1, x2, y2):
    length = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
    return length

def perimeter(vertices):
    
    # [ [15, 7], [5, 22], [11, 1] ] 
    
    side1 = distance(vertices[0][0], vertices[0][1], vertices[1][0], vertices[1][1])
    side2 = distance(vertices[1][0], vertices[1][1], vertices[2][0], vertices[2][1])
    side3 = distance(vertices[2][0], vertices[2][1], vertices[0][0], vertices[0][1])
    
    return side1 + side2+ side3

In [2]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] )

47.07918859608948

In [3]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

3.414213562373095

In [4]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

68.2842712474619

### 3.A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).
`[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]`   
Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.   
**Examples:**  
`tallest_skyscraper([[0, 0, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]]) ➞ 3`  
`tallest_skyscraper([[0, 1, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]]) ➞ 4`  
`tallest_skyscraper([[0, 0, 0, 0],[0, 0, 0, 0],[1, 1, 1, 0],[1, 1, 1, 1]]) ➞ 2`

In [5]:
def tallest_skyscraper(lst):
    
    tallest = 0
    
    for i in range(len(lst[0])):
        # 00, 10, 20, 30
        # 01, 11, 21, 31
        current_height = 0
        for j in range(len(lst)):
            current_height += lst[j][i]
        
        if current_height >= tallest:
            tallest = current_height
            
    return tallest

In [6]:
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])

3

In [7]:
tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])

4

In [8]:
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
])

2

### 4.A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

`Days                             Bonus  
0 to 32 days                  Zero  
33 to 40 days         SGD$325 per billable day  
41 to 48 days         SGD$550 per billable day  
Greater than 48 days      SGD$600 per billable day`

Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:  
`32*0 + 8*325 + 5*550 = 5350`  
Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

**Examples:**  
`bonus(15) ➞ 0`  
`bonus(37) ➞ 1625`  
`bonus(50) ➞ 8200`

In [9]:
def bonus(days):
    
    bonus = 0
    for i in range(days + 1):
        if i <= 32:
            continue
        if i > 32 and i <= 40:
            bonus += 325
        if i > 40 and i <= 48:
            bonus += 550
        if i > 48:
            bonus += 600
        
    return bonus

In [10]:
bonus(15)

0

In [11]:
bonus(37)

1625

In [12]:
bonus(50)

8200

### 5.A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.
Create a function that determines whether a number is a Disarium or not.  
**Examples:**  
`is_disarium(75) ➞ False`    
    `# 7^1 + 5^2 = 7 + 25 = 32`  
`is_disarium(135) ➞ True`  
    `# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135`  
`is_disarium(544) ➞ False`  
`is_disarium(518) ➞ True`  
`is_disarium(466) ➞ False`  
`is_disarium(8) ➞ True`

In [13]:
def is_disarium(num):
    
    temp = num
    total = 0
    itr = 1
    
    for i in str(num):
        total += int(i)**itr
        itr += 1
        
    return total == temp

In [14]:
is_disarium(544)

False

In [15]:
is_disarium(518)

True

In [16]:
is_disarium(466)

False

In [17]:
is_disarium(8)

True